@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Public Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
}

header {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}

.navbar img, .nav-actions li:hover, #nav-request, #intro-request {
  cursor: pointer;
}

.navbar img, #nav-request, #intro-request {
  padding: 2px 0;
}

.nav-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.nav-actions li {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-actions li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: transparent;
  transition: background 0.3s ease;
}

.nav-actions li:hover::after {
  background: linear-gradient(90deg, rgb(49, 211, 92) 0%, rgb(43, 183, 218) 100%);
}

.nav-actions li:hover a {
  color: #2d314d;
}

.nav-actions li a {
  color: #9698a6;
  font-weight: 400;
}

#nav-request, #intro-request {
  background: linear-gradient(90deg, rgb(49, 211, 92) 0%, rgb(43, 183, 218) 100%);
  font-size: 14px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: #fafafa;
}

#nav-request:hover, #intro-request:hover {
  background: linear-gradient(90deg, rgba(49, 211, 92, 0.5) 0%, rgba(43, 183, 218, 0.5) 100%);
}

.intro-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  max-width: 28.125rem;
  position: absolute;
  top: 230px;
  top: 32%;
  left: 14%;
}

.intro-texts h1 {
  font-size: 56px;
  font-weight: 400;
  color: #2d314d;
}

.intro-texts p {
  font-size: 18px;
  font-weight: 400;
  color: #9698a6;
}

.intro-graphics {
  width: 100%;
  height: auto;
}

.mockups-bg-desktop {
  position: absolute;
  top: -26%;
  right: -28%;
  z-index: 1;
}

.mockups-bg-mobile {
  display: none;
}

.intro-mockups {
  position: absolute;
  top: -7%;
  right: -8%;
  z-index: 2;
}

.benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f3f4f6;
  position: absolute;
  top: 105%;
  left: 0%;
  gap: 60px;
  padding: 70px 0 70px 200px;
}

.benefits-title {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.benefits-title h2 {
  font-size: 48px;
  color: #2d314d;
  font-weight: 400;
}

.benefits-title p {
  font-size: 18px;
  color: #9698a6;
  max-width: 640px;
}

.benefits-icons {
  display: flex;
  gap: 40px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  max-width: 250px;
}

.benefit-item h3 {
  font-size: 22px;
  font-weight: 400;
  color: #2d314d;
}

.benefit-item p {
  font-size: 16px;
  color: #9698a6;
}

@media screen and (max-width: 768px) {
  .nav-actions, #nav-request {
    display: none;
  }
  .intro-texts {
    width: 90%;
    top: 63%;
    left: 5%;
    text-align: center;
    align-items: center;
  }
  .intro-texts h1 {
    font-size: 40px;
  }
  #intro-request {
    padding: 1rem 1.75rem;
  }
  .mockups-bg-desktop {
    display: none;
  }
  .mockups-bg-mobile {
    position: absolute;
    display: flex;
    top: 4%;
    right: 0%;
    z-index: 1;
  }
  .intro-mockups {
    position: absolute;
    top: -10%;
    right: 0%;
  }
  .benefits {
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    top: 120%;
  }
  .benefits-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .benefits-icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefit-item {
    align-items: center;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */