@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$dark-blue: #2d314d;
$lime-green: #31d35c;
$bright-cyan: #2bb7da;
$grayish-blue: #9698a6;
$light-grayish-blue: #f3f4f6;
$very-light-gray: #fafafa;
$white: #ffffff;
$hover: #2dc88e;

* {
    font-family: "Public Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $very-light-gray;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $white;
    padding: 0 160px;
}

.navbar img, .nav-actions li:hover, #nav-request, #intro-request, #footer-request {
    cursor: pointer;
}

.navbar img, #nav-request, #intro-request, #footer-request {
    padding: 2px 0;
}

.nav-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.nav-actions li {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: transparent;
        transition: background 0.3s ease;
    }
}

.nav-actions li:hover::after {
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
}

.nav-actions li:hover a {
    color: $dark-blue;
}

.nav-actions li a {
    color: $grayish-blue;
    font-weight: 400;
}

#nav-request, #intro-request, #footer-request {
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.8rem 2.2rem;
    border-radius: 2rem;
    color: $very-light-gray;
}

#nav-request:hover, #intro-request:hover {
    background: linear-gradient(90deg, rgba(49, 211, 92, 0.5) 0%, rgba(43, 183, 218, 0.5) 100%);
}

#footer-request:hover {
    background: linear-gradient(90deg, rgba(49, 211, 92, 0.5) 0%, rgba(43, 183, 218, 0.5) 100%);
    background-color: $white;
}

#menu-btn, .menu-mobile {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $very-light-gray;
    padding: 160px 160px 220px 160px;
}

.intro-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    max-width: 28.125rem;
}

.intro-texts h1{
    font-size: 3.5rem;
    font-weight: 300;
    color: $dark-blue;
}

.intro-texts p {
    font-size: 1.125rem;
    font-weight: 400;
    color: $grayish-blue;
}


.intro-graphics {
    width: 100%;
    height: auto;
}

.mockups-bg-desktop {
    position: absolute;
    top: -25%;
    right: -27%;
    z-index: 1;
}

.mockups-bg-mobile {
    display: none;
}

.intro-mockups {
    position: absolute;
    top: -5%;
    right: -8.5%;
    z-index: 2;
}

.benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $light-grayish-blue;
    gap: 65px;
    padding: 5% 160px;
}

.benefits-title {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.benefits-title h2 {
    font-size: 3rem;
    color: $dark-blue;
    font-weight: 300;
}

.benefits-title p {
    font-size: 1.125rem;
    color: $grayish-blue;
    max-width: 640px;
}

.benefits-icons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 265px;
}

.benefit-item h3 {
    font-size: 1.375rem;
    font-weight: 400;
    color: $dark-blue;
}

.benefit-item p {
    font-size: 1rem;
    color: $grayish-blue;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 5% 160px;
}

.articles h2 {
    font-size: 3rem;
    color: $dark-blue;
    font-weight: 300;
}

.articles-itens {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    gap: 30px;
    border-radius: 6px; 
}

.article-card img{
    border-radius: 6px 6px 0 0;
    min-height: 215px;
    min-width: 285px;
}

.article-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0 1.5rem 2rem 1.5rem;
}

.article-card-content span, .article-card-content p {
    color: $grayish-blue;
}

.article-card span {
    font-size: 0.75rem;
}

.article-card h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: $dark-blue;
}

.article-card h3:hover {
    color: $hover;
    cursor: pointer;
}

.article-card p {
    font-size: 1rem;
}

footer {
    display: flex;
    width: 100%;
    background-color: $dark-blue;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 5% 160px;
    width: 90%;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.social-icons {
    display: flex;
    gap: 0.875rem;
}

.social-logo:hover path {
    fill: $hover;
}

.footer-center {
    display: flex;
    gap: 8rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-column li a {
    color: $light-grayish-blue;
}

.footer-column li a:hover {
    color: $hover;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.copyright {
    color: $grayish-blue;
}

@media screen and (max-width: 768px) {
    .nav-actions, #nav-request {
        display: none;
    }

    .navbar {
        padding: 0 1.5rem;
        height: 60px;
        z-index: 101;
    }

    #menu-btn {
        display: flex;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 12%;
        height: 100vh;
        width: 0;
        z-index: 100;
        overflow: hidden;
        transition: 0.2s;
    }

    .menu-mobile.open-menu {
        width: 100%;
    }

    .menu-mobile nav {
        display: flex;
        justify-content: center;
        background-color: $white;
        width: 90%;
        padding: 3rem 0;
        border-radius: 6px;
    }

    .menu-mobile nav ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        color: $dark-blue;
    }

    .menu-mobile nav ul li:hover {
        color: $hover;
    }

    #overlay-menu {
        background: rgba(45, 49, 77, 0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        display: none;
    }

    #overlay-menu.open-overlay {
        display: flex;
    }

    .intro {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 100% 0 10% 0;
    }

    .intro-texts {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .intro-texts h1 {
        font-size: 2.5rem;
    }

    #intro-request {
        padding: 1rem 1.75rem;
    }

    .mockups-bg-desktop {
        display: none;
    }

    .mockups-bg-mobile {
        position: absolute;
        display: flex;
        top: 4%;
        right: 0%;
        z-index: 1;
    }

    .intro-mockups {
        top: -10%;
        right: 0%;
    }

    .benefits {
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        top: 110%;
    }

    .benefits h2 {
        font-size: 2.5rem;
    }

    .benefits-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    .benefits-icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .benefit-item {
        align-items: center;
        text-align: center;
    }

    .articles {
        top: 295%;
        padding: 70px 0;
        justify-content: center;
        align-items: center;
    }

    .articles h2 {
        font-size: 2.5rem;
    }

    .articles-itens {
        flex-direction: column;
        width: 90%;
    }

    .footer-content, .footer-links, .footer-center{
        flex-direction: column;
    }

    .footer-content {
        padding: 70px 0;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer-links {
        gap: 2rem;
    }

    .footer-center {
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-right {
        justify-content: center;
        align-items: center;
    }
}
